.header {
    /* height: 100vh;
    min-height: 600px;
    max-height: 756px; */
    /* выше установили ограничения для секции */
    padding-top: 30px;
    padding-left: 64px;
    background-color: #f2f2f2;
    position: relative;
    margin-bottom: 100px;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
  }
  
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  
  .header__title {
    font-weight: 600;
    font-size: 96px;
    line-height: 102px;
  }
  
  .header__text {
    width: 388px;
  }
  
  .header__image {
    z-index: 1;
  }
  
  .header__image img {
    width: 765px;
    height: 608px;
    z-index: 3;
    display: block;
  }
  
  .header__square-pic {
    position: absolute;
    background-color: #2f80ed;
    height: 500px;
    right: 0;
    top: 64px;
    z-index: -1;
    width: 500px;
  }