.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  /* height: 100vh;
  min-height: 600px;
  max-height: 756px; */
  /* выше установили ограничения для секции */
  padding-top: 30px;
  padding-left: 64px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
}

.blue {
  color: #2f80ed;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.header__title {
  font-weight: 600;
  font-size: 96px;
  line-height: 102px;
}

.header__text {
  width: 388px;
}

.header__image {
  z-index: 1;
}

.header__image img {
  width: 765px;
  height: 608px;
  z-index: 3;
  display: block;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 500px;
  right: 0;
  top: 64px;
  z-index: -1;
  width: 500px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description,
.digits,
.feynman,
.kaufman {
  margin-top: 100px;
}

.description {
  width: 80%;
  margin: 0 auto;
}

.description__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.description__top {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}

.description__articles {
  width: 80%;
}

.description__articles p + p {
  margin-top: 30px;
}

.description__articles p {
  font-size: 24px;
  line-height: 34px;
}

.description__articles i {
  font-weight: 600;
  font-style: normal;
}

.digits__title,
.digits__subtitle,
.kaufman__title,
.kaufman__subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.digits__title {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.digits__subtitle {
  line-height: 34px;
  font-size: 24px;
}

.digits__inner {
  width: 1100px;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}

.digits__item {
  width: 250px;
}

.digits__item-title {
  font-weight: 600;
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 20px;
}

.digits__item-text {
  font-size: 18px;
  line-height: 1.2;
}

.digits__item-text i {
  font-style: normal;
  display: inline-block;
  margin-top: 20px;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  height: 890px;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 0 auto 90px; 
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  margin: auto;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  transform: translateY(-50%);
}

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  color: #fff;
  z-index: 3;
}

.kaufman::after {
  content: '';
  position: absolute;
  width: 577px;
  height: 777px;
  background-size: cover;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url(../images/kaufman-triangle.svg);
}

.kaufman__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 20px;
}

.kaufman__subtitle {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 80px;
}

.kaufman__inner {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
  margin: 0 auto;
}

.kaufman__item {
  width: 210px;
}

.kaufman__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 20px;
}

.kaufman__item-text {
  line-height: 1.2;
  font-size: 18px;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 0 40px;
}

.footer__inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__right {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: start;
}

.footer__right-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__right-list__item {
  font-size: 18px;
  line-height: 30px;
}

.footer__right-list__item + .footer__right-list__item {
  margin-top: 12px;
}

.footer__right-list__item--icon {
  position: relative;
}

.footer__right-list__item--icon::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: -20px;
  top: 7px;
  background-repeat: no-repeat;
}

.footer__right-list__item--yt::before { 
  background-image: url('../images/youtube_color_white.svg');
}
.footer__right-list__item--vk::before {
  background-image: url('../images/vk_color_white.svg');

}
.footer__right-list__item--tiktok::before {
  background-image: url('../images/tiktok_color_white.svg');
}